 <div class="col-md-3">
  <h2>User info</h2>
  <%= image_tag current_user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th></th>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <%= link_to edit_user_path(current_user.id), class: 'btn btn-outline-secondary btn-block edit_user_path(current_user.id)' do %>
    <% end %>
  </div>

  <h2 class="mt-3">New book</h2>
  <%= form_with model: book do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :opinion %>
    <%= f.submit 'Create Book' %>
  <% end %>
</div>